In [39]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
from geopy.geoencoders import Nominatim 

# load dataset
data = pd.read_csv('datasets/kc_house_data.csv')

In [8]:
# data dimensions
print('Number of rows: {}'.format(data.shape[0] ))
print('Number of columns {}'.format(data.shape[0] ))

Number of rows: 21613
Number of columns 21613

In [9]:
# data types
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [10]:
# convert object to date
data['date'] = pd.to_datetime(data ['date'])

In [11]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [41]:
# descriptive statistics
num_attributes = data.select_dtypes(include=['int64', 'float64'])

# central tendency - media, mediana
media = pd.DataFrame (num_attributes.apply(np.mean, axis=0) )
mediana = pd.DataFrame (num_attributes.apply(np.median, axis=0) )

# dispersion - std, min, max
std = pd.DataFrame (num_attributes.apply (np.std, axis=0) )
min_ = pd.DataFrame (num_attributes.apply (np.min, axis=0) )
max_ = pd.DataFrame (num_attributes.apply (np.max, axis=0) )

df1 = pd.concat ( [max_, min_, media, mediana, std], axis=1).reset_index()
df1.columns = ['attributes', 'maximo', 'minimo', 'media', 'mediana','std']

In [40]:
df1

,attributes,maximo,minimo,media,mediana,std
0,id,9900000190.000,1000102.000,4580301520.865,3904930410.000,2876499023.428
1,price,7700000.000,75000.000,540088.142,450000.000,367118.703
2,bedrooms,33.000,0.000,3.371,3.000,0.930
3,bathrooms,8.000,0.000,2.115,2.250,0.770
4,sqft_living,13540.000,290.000,2079.900,1910.000,918.420
5,sqft_lot,1651359.000,520.000,15106.968,7618.000,41419.553
6,floors,3.500,1.000,1.494,1.500,0.540
7,waterfront,1.000,0.000,0.008,0.000,0.087
8,view,4.000,0.000,0.234,0.000,0.766
9,condition,5.000,1.000,3.409,3.000,0.651
10,grade,13.000,1.000,7.657,7.000,1.175
11,sqft_above,9410.000,290.000,1788.391,1560.000,828.072
12,sqft_basement,4820.000,0.000,291.509,0.000,442.565
13,yr_built,2015.000,1900.000,1971.005,1975.000,29.373
14,yr_renovated,2015.000,0.000,84.402,0.000,401.670
15,zipcode,98199.000,98001.000,98077.940,98065.000,53.504
16,lat,47.778,47.156,47.560,47.572,0.139
17,long,-121.315,-122.519,-122.214,-122.230,0.141
18,sqft_living15,6210.000,399.000,1986.552,1840.000,685.375
19,sqft_lot15,871200.000,651.000,12768.456,7620.000,27303.548